@font-face {
  font-family: fa-brands-400;
  src: url(/fonts/nimbus-roman-no9-l.regular.otf);

  font-family: fa-solid-900;
  src: url(/fonts/nimbus-roman-no9-l.bold.otf);
}

img {
  display: block;
  max-width: 100%;
}

.topNav_navBar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
}

.topNav_navBar_logo {
  display: block;
  max-width: 406px;
  cursor: text;
  transition: all 0.3s ease;
}

.topNav_navBar_logo:hover {
  transform: scale(105%);
}

.topNav_navBar_BTNs {
  display: flex;
  justify-content: center;
}

.topNav_Navbar_eggBTN {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/media/navBT.png);

  transition: all 0.4s cubic-bezier(0.7, 2.56, 0.63, 0.25) 0s;
}

.topNav_Navbar_eggBTN_bars {
  position: relative;
  z-index: 10;
  height: 27px;
  width: 49%;
}

span {
  transition: all 0.3s ease 0s;
  display: block;
  height: 5px;
  background-color: #fff;
}
