@font-face {
  font-family: fa-brands-400;
  src: url(/fonts/nimbus-roman-no9-l.regular.otf);

  font-family: fa-solid-900;
  src: url(/fonts/nimbus-roman-no9-l.bold.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
}

main {
  margin: 0 auto;
  width: 70%;
}

.slider {
  position: relative;
  margin: 50px auto;
  width: 80%;
}

.sliderBTN_wrap {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgbox img {
  width: 100%;
  border-radius: 20px;
}

.sliderBTN {
  font-size: 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #888;
  padding: 20px 40px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
  /* margin: 10px auto; */
}

.sliderBTN:hover {
  background: #111;
}
